body {
  color: white;
}
.rightarrow {
  margin-top: 13px;
  margin-left: 325px;
  width: 35px;
  height: auto;
}

.rectangle {
  width: 100%;
  height: 65px;
  background: #20bdb4;
  z-index: 1;
}

h1 {
  position: absolute;
  width: auto;
  color: white;
  margin-left: 100px;
  font-size: 45px;
  margin-top: 11px;
}

.toggle_btn {
  height: 30px;
  width: 30px;
  position: absolute;
  float: right;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 8px;
  cursor: pointer;
}

.toggle_btn span {
  z-index: 2;
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.toggle_btn span:before {
  content: "";
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}

.toggle_btn span:after {
  content: "";
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

.menu {
  height: 1000px;
  background-color: #20bdb4;
  position: relative;
  width: 200px;
}

.menu a {
  color: #ffff;
  font-family: sans-serif;
  text-align: center;
  display: block;
  padding-top: 30px;
  text-decoration: none;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
.photoprofil {
  margin-left: 15px;
  width: 70px;
}
.nameprofil {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-left: 95px;
  margin-top: -48px;
}

.descriptionprofil {
  font-size: 13px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 37px;
}

.settingsprofil {
  width: 25px;
  margin-left: 340px;
  margin-top: -520px;
  margin-top: 10px;
}

.offerbg {
  background-color: #20bdb4;
  width: 100%;
  height: 95vh;
  margin-top: 30px;
}

.myofferstext {
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
}

.addoffers {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 338px;
  margin-top: 5px;
}

.offersbg2f {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 45px;
  background-color: #1d625e;
}
.offersbg1f {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 195px;
  background-color: #20bdb4;
}
.offersbg2s {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 345px;
  background-color: #1d625e;
}
.offersbg1s {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 495px;
  background-color: #20bdb4;
}
.offersbg2t {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 645px;
  background-color: #1d625e;
}
.offerspic {
  position: absolute;
  width: 112px;
  height: 120px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 20px;
}

.poffers {
  width: 200px;
  margin-left: 145px;
  margin-top: 30px;
  font-size: 15px;
}

.nav {
  transform: translateX(-200px);
  transition: 0.5s ease 0s;
}

.nav_open {
  transform: translateX(0px);
  transition: 0.5s ease 0s;
}
