body {
  color: white;
}
.bg1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.noscroll {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 3;
  width: 100%;
}
.logo1page {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logohome {
  width: 30%;
}

.name1page {
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  padding: 30px 0 0 0;
  font-family: "Overpass", sans-serif;
}

.swap1page {
  font-weight: bold;
  font-family: "Overpass", sans-serif;
}

.rectangle {
  width: 100%;
  height: 65px;
  background: #20bdb4;
  z-index: 1;
}

h1 {
  position: absolute;
  width: auto;
  color: white;
  margin-left: 100px;
  font-size: 45px;
  margin-top: 11px;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.toggle_btn {
  height: 30px;
  width: 30px;
  position: absolute;
  float: right;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 8px;
  cursor: pointer;
}

.toggle_btn span {
  z-index: 2;
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.toggle_btn span:before {
  content: "";
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}

.toggle_btn span:after {
  content: "";
  height: 3px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

.menu {
  height: 1000px;
  background-color: #20bdb4;
  position: relative;
  width: 200px;
  z-index: 1;
}

.menu a {
  color: #ffff;
  font-family: "Overpass", sans-serif;
  text-align: center;
  display: block;
  padding-top: 30px;
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.nav {
  transform: translateX(-200px);
  transition-duration: 0.4s;
}

.nav_open {
  transform: translateX(0px);
  transition-duration: 0.4s;
}

.home {
  color: black;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 36px;
  font-weight: 100;
  font-family: "Overpass", sans-serif;
}

.slider {
  overflow: hidden;
  margin: auto;
  width: 300px;
  height: auto;
  border-radius: 35px;
}
.slides {
  width: calc(300px * 4);
  display: flex;
  animation: glisse 15s infinite;
}
.slide {
  width: 300px;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-300px);
  }
  66% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(-900px);
  }
}

.rightarrow {
  margin-top: 13px;
  margin-left: 89%;
  width: 35px;
  height: auto;
}
.photoprofil {
  margin-left: 15px;
  width: 70px;
}
.nameprofil {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-left: 95px;
  margin-top: -48px;
  font-family: "Overpass", sans-serif;
}

.descriptionprofil {
  font-size: 14px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 37px;
  font-family: "Overpass", sans-serif;
}

.settingsprofil {
  width: 25px;
  margin-left: 92%;
  margin-top: -520px;
  margin-top: 10px;
}

.offerbg {
  background-color: #20bdb4;
  width: 100%;
  height: 95vh;
  margin-top: 30px;
}

.myofferstext {
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  font-family: "Overpass", sans-serif;
}

.addoffers {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 90%;
  margin-top: 5px;
}

.offersbg2f {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 45px;
  background-color: #1d625e;
}
.offersbg1f {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 195px;
  background-color: #20bdb4;
}
.offersbg2s {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 345px;
  background-color: #1d625e;
}
.offersbg1s {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 495px;
  background-color: #20bdb4;
}
.offersbg2t {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 645px;
  background-color: #1d625e;
}
.offerspic {
  position: absolute;
  width: 112px;
  height: 120px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 20px;
}

.poffers {
  width: auto;
  margin-left: 145px;
  margin-top: 30px;
  font-size: 15px;
  padding: 8px;
  font-family: "Overpass", sans-serif;
}

.nav {
  transform: translateX(-200px);
  transition: 0.5s ease 0s;
}

.nav_open {
  transform: translateX(0px);
  transition: 0.5s ease 0s;
}

.texts {
  color: black;
  font-size: 16px;
  margin: 25px;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
}

.square {
  width: 336px;
  height: 302px;
  background: gray;
  display: flex;
  margin: auto;
  border-radius: 35px;
}

.homebox {
  display: flex;
  overflow-x: scroll;
}

.flexbox {
  background-color: #d8f9ff;
  margin-top: 10px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
}

.flex-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img1 {
  width: 20%;
}

.name {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.first-name {
  width: 20px;
}

.price {
  font-size: 14px;
  color: black;
  font-family: "Overpass", sans-serif;
}

h3 {
  font-family: "Overpass", sans-serif;
}

h4 {
  opacity: 0.8;
  color: #20bdb4;
  font-family: "Overpass", sans-serif;
}

.text_filter {
  color: black;
  font-size: 16px;
  margin-left: 25px;
  margin-top: 100px;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
}
@keyframes appear {
  80% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
  }
}

.flexbox2 {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-rows: 120px 120px 120px 120px;
  grid-template-columns: 1fr 1fr 1fr;
}
.element {
  opacity: 0;
}

.is-revealed {
  animation: 0.5s ease 0s normal forwards running appear;
}

.square1 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

.square2 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}

.square3 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 1;
  grid-column: 3;
  margin: auto;
}

.square4 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 2;
  grid-column: 1;
  margin: auto;
}

.square5 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 2;
  grid-column: 2;
  margin: auto;
}

.square6 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 2;
  grid-column: 3;
  margin: auto;
}

.square7 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 3;
  grid-column: 1;
  margin: auto;
}

.square8 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 3;
  grid-column: 2;
  margin: auto;
}

.square9 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 3;
  grid-column: 3;
  margin: auto;
}

.square10 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 4;
  grid-column: 1;
  margin: auto;
}

.square11 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 4;
  grid-column: 2;
  margin: auto;
}

.square12 {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  grid-row: 4;
  grid-column: 3;
  margin: auto;
}

.tapswap {
  transform: translateY(-100vh);
  transition: transform 0.5s ease 0s;
}

a {
  text-decoration: none;
}
