.frameworks__cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content{
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.framework__card{
  width: 75vw;
  margin: 10%;
  box-shadow: 0px 2px 10px grey;
  border-radius: 10px;
}

.logo__size{
  width: 55vw;
}

.description{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
  margin-top: 2vh;
}

@media (min-width: 800px)
{
  .frameworks__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

    .framework__card{
      width: 30vw;
      margin: 10%;
      box-shadow: 0px 2px 10px grey;
      border-radius: 10px;
    }

    .logo__size{
      width: 15vw;
    }

    .description{
      height: 10vh;
    }
  }












}



/* 300 x 480 */