[submodule "Documents/cours/python/udemy/all_flask_api/Documents/cours/python/udemy/all_flask_api/API_1_WITH_TUTORIAL"]
	path = Documents/cours/python/udemy/all_flask_api/Documents/cours/python/udemy/all_flask_api/API_1_WITH_TUTORIAL
	url = https://github.com/HuguesRomain/python_flask_app
